/* start glopal rowls */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

/* end glopal rowls */

/* start component */

.qr-component {
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qr-component figure {margin: 0;}

.qr-component figure img {
    width: 100%;
}

.qr-component h1 {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: hsl(218, 44%, 22%);
    line-height: 1.4

}

.qr-component p {
    text-align: center;
    color: hsl(225, 6%, 60%);
    line-height: 1.5

}

/* end component */